:root{
    --background_color:#f8f8f8;
    --main_color: #7d25c1;
}

*, *:after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


body{
    background: var(--background_color);
    overflow-y: scroll;
    overflow-wrap: normal;
    font-family: Yekan;
}


.postBody {
    width: 920px;
    height: 1080px;
    /* background: linear-gradient(to bottom, #1C7CE0, #150051); */
    /* background: linear-gradient(to bottom, #800080, #452c63); */
    background: linear-gradient(to bottom, #800080, #4B0082);
    /* background: linear-gradient(to bottom, #800080, #33006F); */
    border: 1px solid #DFE1E6;
    color: #fff;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    padding: 0 80px;
}

.csharp{
    position: absolute;
    top: 40%;
    left: 38%;

}

.csharp img {
    transform: scale(2.1);
    opacity: 0.035;
    font-size: 15px;
    color: #503a76;
}

.title {
    position: relative;
    top: 140px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.015rem;
    color: #9da3ac;
    padding: 0 48px 0 48px;


}

.txt {
    position: relative;
    top: 250px;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 0.06rem;
    line-height: 2.4;
    padding: 0 48px 0 48px;
}

.social-Media {
    position: absolute;
    bottom: 30px;
    width: 796px;
    color: #9da3ac;
    padding: 0 0 0 40px;
    display: flex;
    justify-content: space-between;
}

.watermark{
    text-decoration: none;
    letter-spacing: 0.13em;
    font-size: 18px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

.watermark a {
    text-decoration: none;
    color: #9da3ac;
}

.watermark svg{
    position: relative;
    text-decoration: none;
    width: 32px;
    height: 32px;
}

.icon-globe {
    margin: 0 4px 3px 0;
}

.icon-youtube {
    margin: 0 4px 1px 0;
}

.icon-insta {
    margin: 4px 3px 0 0;
}